# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Alex RT\Desktop\Facultate\An 1 Sem 2\Data Structures and Algorithms\Lab 6 Prob 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
