# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Alex RT\Desktop\Facultate\An 1 Sem 2\Data Structures and Algorithms\Lab 5 Prob 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
